<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="card">
          <form [formGroup]="userForm">
            <div class="container">
              <div class="row">
                <div class="header mt-12">
                  <div class="time">
                    {{ date | date: "mm-dd-yyyy" }}
                    {{ date | date: "HH:mm:ss" }}
                  </div>
                  <h1 class="text-center">My To Do List</h1>
                </div>
                <div class="mt-12 box">
                  <div class="form-row">
                    <div class="col-md-12">
                      <div class="form-row">
                        <div class="col input-group">
                          <input 
                            type="text"
                            formControlName="name"
                            class="form-control"
                            (keyup.enter)="addItem()"
                            [class.invalid]="submitted && f.name.errors?.required"
                          />
                          <button
                            type="button"
                            class="btn btn-primary"
                            (click)="addItem()"
                          >
                            +
                          </button>
                        </div>
                        <!-- <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required">Input is required!</div>
                      </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12 mt-12-mb-12">
          <ul class="list-group" *ngFor="let item of listDate; let i = index">
            <li
              class="list-group-item d-flex align-items-center"
              [style.backgroundColor]="item.isSelected ? '#d6d8db' : ''"
              (click)="changeSelected(item)"
            >
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [(ngModel)]="item.isSelected"
                /><label class="custom-control-label">{{ item.name }}</label>
                <a
                  class="btn btn-outline-danger ml-auto"
                  (click)="removeItem(item)"
                  >×</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
